body{
background-image: url(/imgs/what-about-a-resident-evil-0-remake-v0-ndq5gq4cdw4b1.webp); 
    background-repeat: no-repeat;
    width: auto;
    background-size: cover;
    
    }
 .re0{
    color:#fff;


}

