body{
    background-image: url(/imgs/1920x1080-resident-evil-2-background-4qf4uog599qp2a1g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.text{
    color: #A60300;
}